<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tac Toe RL</title>

        <!-- scripts -->
        <!-- DO NOT! confuse with the path given for the scripts and stylesheets. Using express, it searches for the
                files in all the registered static directories -->
        <script type="text/javascript" src="jQuery3.2.1.min.js"></script>
        <script type="text/javascript" src="myScript.js"></script>        

        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="myStyle.css">

    </head>
    <body>
        <h1> <button>Restart</button> Tic Tac Toe -> Current Player: <span>O</span></h1>
        <div class="playArea">
            <div class="tile_00">
                <span></span>
            </div>
            <div class="tile_01">
                <span></span>
            </div>
            <div class="tile_02">
                <span></span>
            </div>
            <div class="tile_10">
                <span></span>
            </div>
            <div class="tile_11">
                <span></span>
            </div>
            <div class="tile_12">
                <span></span>
            </div>
            <div class="tile_20">
                <span></span>
            </div>
            <div class="tile_21">
                <span></span>
            </div>
            <div class="tile_22">
                <span></span>
            </div>            
        </div>
    </body>
</html>