<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tac Toe RL</title>
        <link rel="stylesheet" type="text/css" href="myStyle.css">
    </head>
    <body>
        <h1>Tic Tac Toe</h1>
        <div class="playArea">
            PlayArea
            <div class="tile_00">
                <span class="playerX"></span>
                <span class="payerO"></span>
            </div>
            <div class="tile_01">
                <span class="playerX"></span>
                <span class="payerO"></span>
            </div>
            <div class="tile_02">
                <span class="playerX"></span>
                <span class="payerO"></span>
            </div>
            <div class="tile_10">
                <span class="playerX"></span>
                <span class="payerO"></span>
            </div>
            <div class="tile_11">
                <span class="playerX"></span>
                <span class="payerO"></span>
            </div>
            <div class="tile_12">
                <span class="playerX"></span>
                <span class="payerO"></span>
            </div>
            <div class="tile_20">
                <span class="playerX"></span>
                <span class="payerO"></span>
            </div>
            <div class="tile_21">
                <span class="playerX"></span>
                <span class="payerO"></span>
            </div>
            <div class="tile_22">
                <span class="playerX"></span>
                <span class="payerO"></span>
            </div>
            
        </div>
    </body>
</html>