<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tac Toe RL</title>

        <!-- scripts -->
        <!-- DO NOT! confuse with the path given for the scripts and stylesheets. Using express, it searches for the
                files in all the registered static directories -->
        <script type="text/javascript" src="jQuery3.2.1.min.js"></script>
        <script type="text/javascript" src="myScript.js"></script>        

        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="myStyle.css">

    </head>
    <body>
        <h1> <button>Restart</button> Tic Tac Toe -> Current State: <span></span></h1>
        <div class="playArea">
            <div class="notOccupied" data-index="0">
                <span>0</span>
            </div>
            <div class="notOccupied" data-index="1">
                <span>1</span>
            </div>
            <div class="notOccupied" data-index="2">
                <span>2</span>
            </div>
            <div class="notOccupied" data-index="3">
                <span>3</span>
            </div>
            <div class="notOccupied" data-index="4">
                <span>4</span>
            </div>
            <div class="notOccupied" data-index="5">
                <span>5</span>
            </div>
            <div class="notOccupied" data-index="6">
                <span>6</span>
            </div>
            <div class="notOccupied" data-index="7">
                <span>7</span>
            </div>
            <div class="notOccupied" data-index="8">
                <span>8</span>
            </div>            
        </div>
    </body>
</html>